{% extends 'admin_extra_buttons/action_page.html' %}
{% load i18n static admin_list admin_urls %}
{% block content %}
    <h1 style="color:red">Warning: ALL DATA WILL BE ERASED</h1>
    <h2>Proceeding all the data will be irremediably removed. this action cannot be undone </h2>
    <br>
    <div><h3>{{ description }}</h3></div>
    <hr>
    <br><br><br><br><br>
    <div class="delete-confirmation">
    <form method="post">
        {% csrf_token %}
        <input type="submit" class="deletelink" value="Confirm, remove all data">
        <a href=".." class="button cancel-link">No, Take me back</a>
    </form>
    </div>
    <script>

    </script>
{% endblock content %}
