[bumpversion]
current_version = 2.2.3
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)
commit = True
tag = True
allow_dirty = False
serialize = 
	{major}.{minor}.{patch}
tag_name = {new_version}

[bumpversion:file:src/smart_admin/__init__.py]

[bumpversion:file:setup.py]
