{% extends "smart_admin/console.html" %}{% load static i18n %}
{% block left %}
    <div class="redis-cli">
        <div class="changelist-form-container">

            <form method="POST" id="redisForm">
                {% csrf_token %}
                <table>
                    {{ form.connection }}
                    {{ form.command }}
                </table>
                <div class="submit-row">
                    <input type="submit" value="Execute">
                </div>
            </form>
            <pre class="code">
{% for line in stdout %}{{ forloop.counter }}) {{ line|striptags }}
{% endfor %}
        </pre>
        </div>
    </div>
{% endblock left %}
{% block buttons %}
    <ul>
    {% for k,v in connection_kwargs.items %}
        <li>{{ k }}:{{ v }}</li>
    {% endfor %}
    </ul>
    <ul class="submit-row">
        <li><a class="button" href="https://redis.io/commands/">Commands</a></li>
    </ul>
    <ul class="submit-row">
        <li><a class="button redis-cli-command" href="#">FLUSHALL ASYNC</a></li>
        <li><a class="button redis-cli-command" href="#">KEYS *</a></li>
        <li><a class="button redis-cli-command" href="#">CONFIG GET *</a></li>
    </ul>
    {{ block.super }}
{% endblock %}
{% block footer %}{{ block.super }}
    <script>
        $(".redis-cli-command").on("click", function () {
            $("#id_command").val($(this).text());
            $("#redisForm").submit();
        });
    </script>
{% endblock %}
