// ADMIN
#container {

}
.console-buttons{
  a{
    color: white!important;
    text-align: center;
  }
}
.redis-cli{
  input[type=text]{
    width: 100%;
  }
  .code{
    background-color: black;
    color: white;
    height: 500px;
    overflow-scrolling: auto;
  }
}
