// ADMIN
#container {

}
.redis-cli{
  input[type=text]{
    width: 100%;
  }
  .code{
    padding-left: 2px;
    padding-right: 2px;
    background-color: black;
    color: white;
    height: 500px;
    overflow-scrolling: auto;
  }
}
