.panel{
  display: none;
  &.active{
    display: block;
  }
}

.console-buttons{
  .button{
    background-color: #79aec8;
    &.selected{
      background-color: #114e6c;

    }
  }

}

.sysinfo-results{
  caption{
    a{
      color: white;
    }
  }
}
