name: Test

on:
  push:
    branches:
      #      - '*'         # matches every branch that doesn't contain a '/'
      #      - '*/*'       # matches every branch containing a single '/'
      - '**'        # matches every branch
      - '!master'   # excludes master
      - '!tags/*'   # excludes master

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip flake8 isort
      - name: Lint with flake8
        run: |
          flake8 src tests
          isort -c src tests
  test:
    if: github.event_name == 'push'
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [ "3.8", "3.9", "3.10" ]
        django-version: [ "2.2", "3.2", "4.0" ]
    env:
      DJANGO_VERSION: ${{ matrix.django-version }}
      PYTHON_VERSION: ${{ matrix.python-version }}

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: python -m pip install --upgrade pip tox

      - name: Test with tox
        run: tox -e py${PYTHON_VERSION//.}-d${DJANGO_VERSION//.}


  pull_request:
    name: Create Pull Request
    if: startsWith(github.ref, 'refs/heads/release/')
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Set tag version
        run: |
          echo TAG_VERSION=${GITHUB_REF##*\/} >> $GITHUB_ENV
          echo BRANCH_NAME=${GITHUB_REF#*/*/} >> $GITHUB_ENV

      - uses: actions/checkout@v2

      - name: Create Pull Request
        uses: repo-sync/pull-request@v2
        with:
          destination_branch: "master"
          github_token: ${{ secrets.GITHUB_TOKEN }}
          pr_title: "Release ${{ env.TAG_VERSION }}"
          pr_label: "auto-pr"
          pr_draft: false

      - name: Check outputs
        run: |
          echo "Pull Request Number - ${{ steps.cpr.outputs.pull-request-number }}"
          echo "Pull Request URL - ${{ steps.cpr.outputs.pull-request-url }}"
